*{
	font-family: 'Raleway', sans-serif;
}
body{
	background: url(../images/pizza.jpg) ;
	background-attachment: fixed;
}
nav.navbar-default.navbar-fixed-top {
	background: none;
	border: none;
}

.navbar-default .navbar-nav>li>a{
	color: white;
	font-size: 20px;
	text-shadow: 2px #777;
}
navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: white;
    border-bottom: 2px solid white;
}
h2{
	color: white;
	text-shadow: 0px 1px white;
}

#myform{
	align-items: center;
}
label{
	color: white;
}
.panel-default{
	opacity: .8;
	align-items: center;
}
.infos{
	margin-top: 340px;
}
.panel{
	border: none;
}
.panel-body{
	background-color: #191613;
	color: white;
}

.resto1{
	margin: 150px;
	padding-bottom: 50px;
	background-color: #191613;
	color: white;
	height: 450px;
	opacity: .9;
	border-radius: 5px;
}

.restoB img {
width: 100%;
}

.carteB{
	height: 100%;
}
.carteB iframe{
	height: 80%;
}

.restoW{
	margin-bottom: 50px;
}
.restoW img {
width: 100%;
}

.carteW{
	height: 100%;
}
.carteW iframe{
	height: 75%;
}
.contact{
	margin: 150px;
	padding-bottom: 50px;
	background-color: #191613;
	color: white;
	height: 300px;
	opacity: .9;
	border-radius: 5px;
}
textarea{
	width: 250px;
	height: 200px;
}

.bouton{
	display: block;
	width: 150px;
	background-color: red;
	text-align: center;
	line-height: 30px;
	border-radius: 10px;
	margin-left: 40%;
	margin-top: 20px;
}
.bouton a{
	color: white;
}
form{
	text-align: center;
}
.photo{
	width: 1100px;
	margin-top: 150px;
	margin-left: 100px;
	padding-bottom: 50px;
	background-color: #191613;
	color: white;
	height: 400px;
	opacity: .9;
	border-radius: 5px;
	text-align: center;
}
.photo img{
	width: 300px;
	border: 2px solid white;
	margin-top: 50px;
}
.list-group{
	margin: 100px 150px 50px 150px;
	opacity: .9;
	border-radius: 5px;
}

.badge{
	background-color: #AA2A32;
}

.R1{
	width: 50px;
	margin-left: 500px;
	margin-right: 10px;
}
.R2{
	width: 50px;
}