*{
	font-family: 'Raleway', sans-serif;
}
body{
	background: url(../images/pizza1.jpg) ;
	background-attachment: fixed;
	background-position: 10% 50%;
	background-size: cover;
}
h2{
	color: white;
}
.container{
	margin-left: 0px;
}

#navigation{
	background: none;
	border: none;
	font-size: 18px;
	color: white;
}
#navigation a:hover{
	border-bottom: 1px solid white;
}

#navigation a{
	color: white;
	background: none;
	text-shadow: 0px 0px white;
}

.panel-default{
	opacity: .8;
	align-items: center;
}
.infos{
	margin: 250px 50px 0px 50px;
}
.panel{
	border: none;

}
.panel-body{
	background-color: #191613;
	color: white;
}

.resto1{
	margin: 150px 50px 0px 50px;
	padding-bottom: 50px;
	background-color: #2E2B2A;
	color: white;
	min-height: 450px;
	opacity: .9;
	border-radius: 5px;
	min-height: 400px;
}

.restoB img {
width: 100%;
}

.carteB{
	height: 100%;
}
.carteB iframe{
	height: 400px;
	max-width: 100%;
}

.restoW{
	margin-bottom: 50px;
}
.restoW img {
width: 100%;
}

.carteW{
	height: 100%;
}
.carteW iframe{
	height: 75%;
}
.contact{
	margin: 150px;
	padding-bottom: 50px;
	background-color: #191613;
	color: white;
	height: 300px;
	opacity: .9;
	border-radius: 5px;
}
textarea{
	width: 250px;
	height: 200px;
}

.bouton{
	display: block;
	width: 150px;
	background-color: red;
	text-align: center;
	line-height: 30px;
	border-radius: 10px;
	margin-left: 40%;
	margin-top: 20px;
}
.bouton a{
	color: white;
}
form{
	text-align: center;
}
.photo{
	margin-top: 150px;
	padding-bottom: 50px;
	color: white;
	text-align: center;
}
.photo img{
	width: 300px;
	border: 2px solid white;
	margin-top: 50px;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.list-group{
	margin: 150px 50px 0px 50px;
	min-width: 200px;
}
.list-group-item{
	border: none;
	background-color: rgba(0,0,0,.5);
	color: white;
	margin-bottom: 0px;

}
li .list-group-item{
	margin:none;
}

.badge{
	background-color: #E60000;
}

.photo img:hover{
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}
